:root {
  --font-display: "IBM Plex Sans", sans-serif;
  font-family: "IBM Plex Sans", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-synthesis: none;
  text-rendering: optimizelegibility;
}

* {
  border-color: var(--border);
  outline-color: color-mix(in oklch, var(--ring) 50%, transparent);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  cursor: default;
}

.root {
  white-space: pre-line;
}

@media only screen and (width > 480px) {
  .Toastify__toast-container {
    --toastify-toast-top: max(
      var(--header-h) + var(--toastify-toast-offset),
      env(safe-area-inset-top)
    );
  }
}
